{
  "versions": [
    {
      "name": "TwixClient v1.0.0",
      "description": "Официальная версия TwixClient",
      "download_url": "https://drive.google.com/file/d/1RF78ZZk6O0xGZ_LUx_LJ3OXaCxvjHMIR/view?usp=sharing",
      "installed": false
    }
  ]
}
